$active-background-color: rgb(120, 110, 100);
$hover-background-color: rgb(140, 130, 120);
$primary-background-color: rgb(160, 150, 140);

$active-text-color: rgb(216, 216, 216);
$primary-text-color: rgb(60, 75, 90);

@mixin border-radius($radius) {
  border-radius: $radius;
}

.elements {
  animation: fade-in 1.5s ease-out forwards;
  font-size: 1.25em;
  left: 10px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 125px;
  z-index: 1;

  li {
    &:first-child div {
      @include border-radius(5px 5px 0 0);
    }

    &:last-child div {
      @include border-radius(0 0 5px 5px);
      border-bottom-width: 1px;
    }

    div {
      background-color: $primary-background-color;
      border: 1px solid rgb(187, 187, 187);
      border-bottom-width: 0;
      color: $primary-text-color;
      cursor: pointer;
      line-height: 1.1;
      padding: 7px 0 6px 40px;
      width: 95px;

      &:hover {
        background-color: $hover-background-color;
      }
    }

    .active {
      background-color: $active-background-color;
      color: $active-text-color;
    }
  }
}

.icons {
  animation: slide-in 1s ease-out forwards;
  cursor: pointer;
  position: absolute;
  top: 119px;
  z-index: 1;

  .biosphere-icon {
    left: 23px;
    position: absolute;
    top: 32px;
  }

  .charts-icon {
    left: 22px;
    position: absolute;
    top: 180px;
  }

  .deckgl-icon {
    left: 22px;
    position: absolute;
    top: 151px;
  }

  .office-icon {
    left: 22px;
    position: absolute;
    top: 60px;
  }

  .places-icon {
    left: 22px;
    position: absolute;
    top: 90px;
  }

  .satellite-icon {
    left: 22px;
    position: absolute;
    top: 0;
  }

  .trails-icon {
    left: 22px;
    position: absolute;
    top: 120px;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slide-in {
  from {
    transform: translateX(-40px);
  }

  to {
    transform: translateX(0);
  }
}
