.hexagon {
  animation: slide-in 1.5s ease-out forwards;
  background-color: rgb(160, 150, 140);
  border: 3px solid rgb(187, 187, 187);
  border-radius: 4px;
  color: rgb(60, 75, 90);
  cursor: pointer;
  left: 10px;
  line-height: 1.4;
  padding: 10px 15px;
  position: absolute;
  top: 75px;
  width: 175px;

  button {
    border: 2px solid rgb(187, 187, 187);
    color: rgb(60, 75, 90);
    cursor: pointer;
    font: inherit;
    margin-top: 5px;
    padding: 3px 0 2px 0;
    text-align: center;
    width: 100%;

    &:hover {
      background-color: rgb(140, 130, 120);
    }
  }

  header {
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
  }

  input {
    cursor: pointer;
    width: 100%;
  }

  label {
    cursor: pointer;
  }

  span {
    color: rgb(255, 255, 255);
  }

  @keyframes slide-in {
    from {
      transform: translateX(-150px);
    }

    to {
      transform: translateX(0);
    }
  }
}
