#!/usr/bin/sh

export MAPBOX_ACCESS_TOKEN=YOUR MAPBOX TOKEN

# Host address where Postgres is run
export POSTGRES_URI="localhost:5432"
export SERVER_ADDRESS="localhost"
export SERVER_ADDRESS="5432"

# Details used by `docker-compose up` for the PSQL server.
export POSTGRES_DBNAME="genie-kepler-vue3"
export POSTGRES_USER="generic_user"
export POSTGRES_PASSWORD="password"


