@mixin border-radius($radius) {
  border-radius: $radius;
}

.hexagon {
  @include border-radius(4px);
  animation: slide-in 1.5s ease-out forwards;
  background: rgb(160, 150, 140);
  border: 3px solid rgb(187, 187, 187);
  color: rgb(60, 75, 90);
  cursor: pointer;
  font-size: 0.95em;
  line-height: 1.4;
  padding: 0 15px;
  position: absolute;
  right: 10px;
  top: 55px;
  width: 140px;

  button {
    border: 2px solid rgb(187, 187, 187);
    color: rgb(60, 75, 90);
    cursor: pointer;
    font-size: 0.9em;
    line-height: 1.4;
    padding: 2px 0;
    width: 100%;
  }

  input {
    cursor: pointer;
    width: 100%;
  }

  label {
    cursor: pointer;
  }

  span {
    color: rgb(255, 255, 255);
    cursor: pointer;
  }

  .header {
    font-size: 1.08em;
    font-weight: bold;
    margin-bottom: 4px;
  }

  .spacer {
    height: 0.5em;
  }
}

@keyframes slide-in {
  from {
    transform: translateX(150px);
  }

  to {
    transform: translateX(0);
  }
}
