.header {
  background-color: rgb(120, 110, 100);
  font-family: 'Orbitron', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 45px;
  position: absolute;
  width: 100%;

  a {
    color: rgb(0, 0, 0);
    margin: -24px 0 0 0;
    position: absolute;
    right: 10px;

    &:hover {
      color: rgb(216, 216, 216);
    }
  }

  img {
    height: 35px;
    margin: 6px 0 0 8px;
    position: absolute;
  }

  .name {
    color: rgb(0, 0, 0);
    font-size: 1.4em;
    margin: 8px 0 0 50px;
  }

  .title {
    color: rgb(160, 0, 0);
    font-size: 1.3em;
    margin: -26px 0 0 0;
    text-align: center;
  }
}
