$active-background-color: rgb(120, 110, 100);
$hover-background-color: rgb(140, 130, 120);
$primary-background-color: rgb(160, 150, 140);

$active-text-color: rgb(216, 216, 216);
$primary-text-color: rgb(60, 75, 90);

@mixin border-radius($radius) {
  border-radius: $radius;
}

.elements {
  @include border-radius(4px);
  animation: fade-in 1.5s ease-out forwards;
  border: 2px solid rgb(187, 187, 187);
  cursor: pointer;
  left: 10px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 175px;
  width: 135px;

  li {
    div {
      border: 1px solid rgb(187, 187, 187);
      border-bottom-width: 0;
      line-height: 1.1;
      padding: 7px 0 6px 40px;

      &:hover {
        background-color: $hover-background-color;
      }
    }

    &:last-child div {
      border-bottom-width: 1px;
    }

    .active {
      background-color: $active-background-color;
      color: $active-text-color;
    }

    .inactive {
      background-color: $primary-background-color;
      color: $primary-text-color;
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}

.icons {
  animation: slide-in 1s ease-out forwards;
  cursor: pointer;
  position: absolute;
  top: 167px;

  .satellite {
    left: 22px;
    position: absolute;
    top: 0px;
  }

  .biosphere {
    left: 23px;
    position: absolute;
    top: 33px;
  }

  .office {
    left: 22px;
    position: absolute;
    top: 63px;
  }

  .places {
    left: 22px;
    position: absolute;
    top: 94px;
  }

  .trails {
    left: 22px;
    position: absolute;
    top: 125px;
  }

  .deckgl {
    left: 22px;
    position: absolute;
    top: 156px;
  }

  @keyframes slide-in {
    from {
      transform: translateX(-50px);
    }

    to {
      transform: translateX(0);
    }
  }
}
