ul.elements {
  animation: fade-in 2s ease-out forwards;
  border: 2px solid rgb(187, 187, 187);
  border-radius: 4px;
  cursor: pointer;
  left: 10px;
  list-style-type: none;
  position: absolute;
  top: 18rem;
  width: 13.5rem;
}

ul.elements li div {
  border: 1px solid rgb(187, 187, 187);
  border-bottom-width: 0;
  line-height: 1.1;
  padding: 6px 0 6px 4rem;
  text-shadow: 1px 1px 2px rgb(220, 210, 200);
}

ul.elements li div.active {
  background-color: rgb(120, 110, 100);
  color: rgb(238, 238, 238);
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

ul.elements li div.inactive {
  background-color: rgb(160, 150, 140);
  text-shadow: 1px 1px 2px rgb(220, 210, 200);
}

ul.elements li div.inactive:hover,
ul.elements li img:hover + div.inactive {
  background-color: rgb(140, 130, 120);
  color: rgb(238, 238, 238);
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

ul.elements li img.deckgl,
ul.elements li img.office,
ul.elements li img.places,
ul.elements li img.satellite,
ul.elements li img.trails {
  margin-left: 1.2rem;
  margin-top: 0.6rem;
  position: absolute;
}

ul.elements li img.biosphere {
  margin-left: 1.3rem;
  margin-top: 0.8rem;
  position: absolute;
}

ul.elements li:last-child div {
  border-bottom-width: 1px;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
