$active-background-color: rgb(120, 110, 100);
$hover-background-color: rgb(140, 130, 120);
$primary-background-color: rgb(160, 150, 140);

$active-text-color: rgb(216, 216, 216);
$primary-text-color: rgb(60, 75, 90);

@mixin border-radius($radius) {
  border-radius: $radius;
}

.elements {
  @include border-radius(4px);
  animation: fade-in 1.5s ease-out forwards;
  border: 2px solid rgb(187, 187, 187);
  cursor: pointer;
  font-size: 0.95em;
  left: 10px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 175px;

  li {
    &:last-child div {
      border-bottom-width: 1px;
    }

    div {
      background-color: $primary-background-color;
      border: 1px solid rgb(187, 187, 187);
      border-bottom-width: 0;
      color: $primary-text-color;
      line-height: 1.1;
      padding: 7px 0 6px 40px;
      width: 90px;

      &:hover {
        background-color: $hover-background-color;
      }
    }

    .active {
      background-color: $active-background-color;
      color: $active-text-color;
    }
  }
}

.icons {
  animation: slide-in 1s ease-out forwards;
  cursor: pointer;
  position: absolute;
  top: 120px;

  .satellite-icon {
    left: 22px;
    position: absolute;
    top: 48px;
  }

  .biosphere-icon {
    left: 23px;
    position: absolute;
    top: 80px;
  }

  .office-icon {
    left: 22px;
    position: absolute;
    top: 108px;
  }

  .places-icon {
    left: 22px;
    position: absolute;
    top: 138px;
  }

  .trails-icon {
    left: 22px;
    position: absolute;
    top: 168px;
  }

  .deckgl-icon {
    left: 22px;
    position: absolute;
    top: 199px;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slide-in {
  from {
    transform: translateX(-40px);
  }

  to {
    transform: translateX(0);
  }
}
