.trail {
  animation: slide-in 1s ease-out forwards;
  border: 2px solid rgb(187, 187, 187);
  font-size: 0.95em;
  left: 10px;
  position: absolute;
  top: 385px;
  width: 135px;

  @keyframes slide-in {
    from {
      transform: translateX(-150px);
    }

    to {
      transform: translateX(0);
    }
  }
}
