.trails {
  animation: slide-in 1s ease-out forwards;
  border-style: solid;
  font-family: 'Roboto', sans-serif;
  font-size: 1.25em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  left: 10px;
  position: absolute;
  top: 320px;
  width: 137px;
  z-index: 1;
}

@keyframes slide-in {
  from {
    transform: translateX(-150px);
  }

  to {
    transform: translateX(0);
  }
}
