.modal {
  background-color: rgba(0, 0, 0, 0.3);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 45px;
  width: 100%;
  z-index: 2;
}

.active {
  composes: modal;
  display: block;
}

.inactive {
  composes: modal;
  display: none;
}
